{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <img src="{% static 'images/logo.png'%}" width="90" light="90">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list bi-6x text-white"  viewBox="2 2 13 13">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <br>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/prof/">Professeurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/institu/">Instituteurs</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Administration
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'acces' %}">Connexion</a></li>
            <li><a class="dropdown-item" href=" {% url 'Deconnexion' %}">Déconnexion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</nav>
<!-- <center>
<button class="btn btn-outline-light text-dark mb-2 me-4 my-2 my-sm-0 btn-right"><a class="nav-link fw-bold" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
</svg> Acceuil<a></button>
<nav class="navbar navbar-light justify-content-between ">
  <img src="{% static 'images/logo.png'%}"> -->
  <!-- ><img src="/docs/5.0/assets/brand/lo.png" alt="" width="30" height="24" class="d-inline-block align-text-top"><!-->
  <!-- <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-dark mb-2 me-4 my-2 my-sm-0 "><a class="nav-link fw-bold" href="/administ/">Administration</a></button>
    <button class="btn btn-outline-dark mb-2 me-4 my-2 my-sm-0"> <a class="nav-link fw-bold" href="/prof/">Professeurs</a></button>
    <button class="btn btn-outline-dark mb-2 me-4 my-2 my-sm-0"> <a class="nav-link fw-bold" href="/institu/">Instituteurs</a></button>
  </form>
</nav>
</center> 
 -->
